# .gitignore
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
venv/
.vscode/
.coverage
htmlcov/
dist/
build/
*.egg-info/
data/
.DS_Store


src/
tests/
Dockerfile
docker-compose.yml
Makefile
.env.sample
run.sh
run.ps1
setup.py